body{
    font-family: "Poppins";
    cursor: url('mouse.png'),auto;
}

.menu-button{
    border: none;
    margin: auto;
    height: 5vh;
    width: 7vw;
    background-color: salmon;
    font-weight: bold;
    font-family: "Poppins";
    border-radius: 7px;
}

.web-content{
    height: 80vh;
    width: 100vw;
    border: 0.3vh solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-footer{
    height: 10vh;
    width: 100vw;
    border: 0.3vh solid black;
}

.content-1{
    height: 20vh;
    width: 20vw;
    padding: 10vh;
    background-color: moccasin;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-radius: 3vw;
    border: 1vh solid salmon;
    transition: 1000ms ease-in-out;
}
.content-1:hover{
    transform: rotateY(180deg);
    background-color: rgb(81, 69, 48);
}

.web-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-button{
    border: none;
    margin: auto;
    height: 5vh;
    width: 7vw;
    background-color: greenyellow;
    font-weight: bold;
    font-family: "Poppins";
    border-radius: 7px;
    text-decoration: none;

}
.web-content-login{
    width: 100vw;
    display: grid;
    place-items: center;
    font-size: 30px;
}

.web-login{
    height: auto;
    font-size: 6px;
    place-items: center;
    display: grid;
    margin-top: -30px;
}

.username-text{
    display: grid;
    place-items: center;
    padding-right: 117px;
    font-size: 7px;
    margin-bottom: -10px;
}

.username-input{
    display: grid;
    place-items: center;

}

.password-text{
    display: grid;
    place-items: center;
    padding-right: 117px;
    font-size: 7px;
    margin-bottom: -10px;
}

.password-input{
    display: grid;
    place-items: center;
}

.button-alignment1 {
    display: grid;
    flex-direction: row;
    place-items: center;
    margin-top: 10px;
}

.button-alignment2 {
    display: grid;
    flex-direction: row;
    place-items: center;
    margin-top: 10px;
}

.change {
    background-color: black;
    text-shadow: azure;
}